html,body,header,
.page{
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;

}

*{
    margin: 0;
    padding: 0;
}

.bg{
    background-color: rgb(0, 0, 0,.4);
  
}

.nav-link{
    float: left;
}

#head{
    text-align: center;
    padding-top: 200px;
    color: #fff;
    font-weight: bold;

    
}
.page{
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)), url(/home/uwase/Documents/moringa-school-projects/pizza-Project/images/hoome-image.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding-bottom: 20px;
    position: relative;
    overflow-x: hidden;
  }

header{


   font-family: 'Secular One', sans-serif;

}
header h1{
    font-size: 4rem;
}
span{
    color: rgb(255, 196, 0);
}
#about{
    width: 100%;
    height: 400px;
}
.about-content{
 
  text-align: center;
  padding-top: 50px;
  font-family: 'Secular One', sans-serif;

}
.fa{
    font-size: 3rem;
    margin-top: 100px;
    animation: bounce 2.6s infinite;
}
@keyframes bounce {
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-60px);
  }
}


.about-text{
    width: 50%;
    margin: auto;
}
.text-white1{
    font-family: 'Flavors', cursive;
    font-size: 2rem;
}
h5{
    color:#FF6301;
    font-size: 2rem;
    font-weight: bold;
}
.dolce-spa{
    color: #F0421D;
}

.text-white{
    float: right;
}

.btn{
    
    margin-top: 50px;
}


.menu-content{
    text-align: center;
    padding-top: 60px;
    margin: 80px  80px;
}
.order-content{
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)), url(/home/uwase/Documents/moringa-school-projects/pizza-Project/images/hoome-image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
}
.footer-content{
    text-align: center;
    padding-top: 60px;
    font-family: 'Secular One', sans-serif;
   
}

h3{
    font-family: 'Secular One', sans-serif;
    color:#FF6301;
}
form{
    font-family: 'Secular One', sans-serif;
    
}
.row{
    padding-top: 60px;
}
.copyright{
    padding-top: 10px;
    text-align: center;
}


.col-sm-6{
    text-align: center;
  
}h3{
    text-align: center;
}
#result{
    background-color:rgba(0,0,0,.1);
}
#numberOfPizzas{
    background-color:rgba(0,0,0,.1);
}